body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    align-items: center;
    vertical-align: middle;
    height: 65px; 
    flex-shrink: 0;
    padding: 10px;
}

.header--image {
    width: 125px;
    height: 100%;
}

.header--title {
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
    margin-right: auto;
}

.header--project {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form {
    display: grid;
    grid-template: 40px 40px /1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Inter", sans-serif;
    border-radius: 6px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    background: #7c299a;
    font-family: "Inter", sans-serif;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form--button.pressed {
    background-color: #ae67c8;
    transform: scale(0.95);
    box-shadow: none;
  }

  .result--image {
    width: 350px;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s ease;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
  }
  
  .result--image:hover {
    filter: brightness(60%);
  }